@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body {
  background-color: #18181b;
  font-family: 'Montserrat';
  overflow-x: hidden;
}
h2 {
  color: white;
}

.page{
  margin-top: 20px;
}

hr{
  border: 1px solid #555555;
  margin: 5px 0px 15px 0px;
}

p{
  color: white;
}



/* ------MAIN-------- */
.main-body{
  padding-top: 60px;
}