* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
body {
  background-color: #525252;
  font-family: 'Montserrat';
}
h2 {
  color: white;
}


/* ------MAIN-------- */
.main-body{
  padding-top: 60px;
}