
.main-body {
    padding: 20px;
    max-width: 1200px;
    margin: 60px auto;}

.game-list-container {
    margin-bottom: 60px;
}

.game-list-container h2 {
    /* margin-bottom: 20px; */
    font-size: 1.5rem;
    color: #ffffff;
}

.pagination-buttons{
    display: flex;
    justify-content: center;
    height: 20px;
    gap: 10px;
    margin-top: 20px;
}
.pagination-buttons button{
    border-radius: 10px;
    height: 30px;
    width: 300px;
    padding: 5px 20px;
    background-color: #27272a;
    color: white;
    transition: background-color 0.5s;
}

.pagination-buttons button:hover{
    background-color: rgb(0, 0, 0);
    color: white;
    cursor: pointer;
}

.game-list {
    color: white;
    display: grid;
    grid-template-columns: repeat(10, 0.1fr);
    gap: 10px;
}

.loadingGames{
    margin-top: 20px;
    color: white;
    width: 200px;
}


@media (max-width: 600px) {
    .main-body {
        padding: 10px;
    }
}