
.main-body {
    padding: 20px;
    max-width: 1200px;
    margin: 45px auto;}

.game-list-container {
    margin-bottom: 60px;
}

.game-list-container h2 {
    /* margin-bottom: 20px; */
    font-size: 2rem;
    color: #ffffff;
}

.pagination-buttons{
    display: flex;
    justify-content: center;
    height: 20px;
    gap: 10px;
    margin-top: 20px;
}
.pagination-buttons button{
    border-radius: 2px;
    height: 30px;
    padding: 5px 20px;
    background-color: rgb(255, 255, 255);
    transition: background-color 0.3s;
}

.pagination-buttons button:hover{
    background-color: rgb(0, 0, 0);
    color: white;
    cursor: pointer;
}

hr{
    border: 1px solid #ffffff;
    margin: 5px 0px 15px 0px;
}


.game-list {
    display: grid;
    height: 330px;
    /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
    grid-template-columns: repeat(10, 0.1fr);
    gap: 10px;
}


@media (max-width: 600px) {
    .main-body {
        padding: 10px;
    }
}