.search-results {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    width: 60%;
    margin: 0 auto;
    color: white;
}

.search-results h1 {
    width: 100%;
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: white;
}

@media (max-width: 1200px) {
    .search-results {
        width: 80%;
    }
}

@media (max-width: 768px) {
    .search-results {
        width: 90%;
    }
}

@media (max-width: 480px) {
    .search-results {
        width: 100%;
        padding: 0 10px;
    }
}

.result-card {
    padding: 5px 15px 5px 15px;
    background-color: #27272a;
    display: flex;
    width: 100%;
    border-radius: 5px;
    transition: box-shadow 0.2s;
}

.result-card:hover {
    cursor: pointer;
    box-shadow: 0 0 5px rgb(255, 255, 255);
}

.result-info{
    margin-left: 15px;
}

.result-card img{
    width: 100px;
    height: 128px;
    object-fit: cover;
    border-radius: 8px;
}