.search-results {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 100px;
}

@media (max-width: 1200px) {
    .search-results {
        width: 80%;
    }
}

@media (max-width: 768px) {
    .search-results {
        width: 90%;
    }
}

@media (max-width: 480px) {
    .search-results {
        width: 100%;
        padding: 0 10px;
    }
}

.result-card {
    padding: 5px;
    background-color: #3b3b3b;
    display: flex;
    width: 100%;
    border-radius: 5px;
    transition: outline 0.5s;
}

.result-card:hover {
    cursor: pointer;
    outline: 1px solid white;
    outline-offset: -1px;
}

.result-info{
    margin-left: 15px;
}

.result-card img{
    height: 100px;
    width: 80px;
    object-fit: cover;
    border-radius: 10px;
}

.pagination{
    display: flex;
    justify-content: center;
    height: 20px;
    gap: 10px;
    margin-top: 20px;
}
.pagination button{
    border-radius: 2px;
    height: 30px;
    padding: 5px 20px;
    background-color: rgb(255, 255, 255);
    transition: background-color 0.3s;
}

.pagination button:hover{
    background-color: rgb(0, 0, 0);
    color: white;
    cursor: pointer;
}